@model PoolPiscinas.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}

@*<link rel="stylesheet" href="~/css/login.css" />*@
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Login</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="CPF">CPF:</label>
                            <input asp-for="CPF" class="form-control" />
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CNPJ">CNPJ:</label>
                            <input asp-for="CNPJ" class="form-control" />
                            <span asp-validation-for="CNPJ" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Senha">Senha:</label>
                            <input asp-for="Senha" class="form-control" type="password" />
                            <span asp-validation-for="Senha" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>