@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Código fonte em <a href="https://github.com/andrecaeano/poolpsinas">GitHub</a></p>
</div>
